<!DOCTYPE html>
<html lang="en">
  <title>Visual Snapshots</title>

  <head>
    <script>
      const __images = <%- images %>
    </script>

    <style>
      body {
        margin: 0;
        font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      }

      .app {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 0 12px;
      }

      .snapshots {
      }

      .header {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        grid-gap: 12px;

        position: sticky;
        top: 0;
        margin: 0;
        padding: 12px 0;
        background-color: white;
        z-index: 1;
      }

      .button-bar {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 6px;
      }
      .button {
        cursor: pointer;
        padding: 6px;
      }
      .button.selected {
        cursor: default;
        color: white;
        background-color: black;
      }

      .button.disabled {
        cursor: default;
        opacity: 0.2;
      }

      .image-wrapper {
        padding: 12px;
        background-color: #ccc;
      }

      .image {
        max-width: 100%;
      }

      .top-nav {
        display: grid;
        grid-gap: 12px;
        grid-auto-flow: column;
      }
    </style>

    <script type="module">
      import {
        html,
        Component,
        render,
      } from 'https://unpkg.com/htm/preact/standalone.module.js';

      const States = ['Diff', 'Original', 'New'];
      const IMAGE_DIRS = ['diffs', 'original', 'changed', 'new'];

      const Snapshot = (props) => {
      return html`
      <div>
          <h3 class="header">
            ${props.image}

            <div class="button-bar">
              ${props.buttons}
            </div>
          </h3>
          <div class="image-wrapper">
            <img
              tabindex="${props.index}"
              class="image"
              key="${props.image}"
              alt="${props.image}"
              src="${props.getSource(props)}"
            />
          </div>
          </div>
        `;
      };

      class App extends Component {
        state = {
          images: {},
        };
        addTodo() {
          const {todos = []} = this.state;
          this.setState({todos: todos.concat(`Item ${todos.length}`)});
        }

        handleImageLoaded = e => {
          if (!this.state.width) {
            this.setState({
              width: e.target.width,
            });
          }
        };

        navigate(img, direction) {
          this.setState(state => ({
            images: {
              ...state.images,
              [img]: ((state.images[img] || 0) + direction) % 3,
            },
          }));
        }

        handleSelectState = (img, newViewState) => {
          this.setState(state => ({
            images: {
              ...state.images,
              [img]: States.indexOf(newViewState),
            },
          }));
        };

        handleImageClick = (img, e) => {
          this.navigate(img, 1);
        };

        handleKeyDown = (img, e) => {
          e.preventDefault();
          const direction =
            e.key === 'ArrowRight' ? 1 : e.key === 'ArrowLeft' ? -1 : null;
          if (direction) {
            this.navigate(img, direction);
          }



        };

        render({page}, {todos = []}) {
          const {added, missing, changed} = __images;

          return html`
            <div class="app">
              <nav class="top-nav">
                <h3>
                  <a href="#changed">Changed (${changed.length})</a>
                </h3>
                <h3>
                  <a href="#added">Added (${added.length})</a>
                </h3>
                <h3>
                  <a href="#missing">Missing (${missing.length})</a>
                </h3>
              </nav>

              <h2 id="changed">
                Changed
              </h2>
              <div class="snapshots">
                ${changed.map((img, i) => {
                  const typeIndex = this.state.images[img] || 0;

                  return html`
                    <h3 class="header">
                      ${img}
                      <div class="button-bar">
                        ${States.map(
                          (state, i) => html`
                            <button
                              class="${`button${
                                i === typeIndex ? ' selected' : ''
                              }`}"
                              type="button"
                              onKeyDown="${e => this.handleKeyDown(img, e)}"
                              onClick="${() =>
                                this.handleSelectState(img, state)}"
                            >
                              ${state}
                            </button>
                          `
                        )}
                      </div>
                    </h3>
                    <div class="image-wrapper">
                      <img
                        tabindex="${i}"
                        class="image"
                        key="${img}"
                        alt="${img}"
                        src="results/${IMAGE_DIRS[typeIndex]}/${img}"
                        onLoad="${this.handleImageLoaded}"
                        onClick="${e => this.handleImageClick(img, e)}"
                        onKeyDown="${e => this.handleKeyDown(img, e)}"
                      />
                    </div>
                  `;
                })}
              </div>

              <h2 id="added">
                Added
              </h2>
              <div class="snapshots">
                ${added.map((img, i) => {
                  const getSource = (p) => `results/${IMAGE_DIRS[IMAGE_DIRS.indexOf('new')]}/${p.image}`;
                  const buttons = States.map(state => html`
                    <button
                      class="${`button${
                        state === 'New' ? ' selected' : ''
                      }${state !== 'New' ? ' disabled' : ''}`}"
                      type="button"
                    >
                      ${state}
                    </button>
                  `);
                   return html`
                     <${Snapshot}
                     buttons=${buttons}
                     image=${img}
                     index=${i}
                     getSource=${getSource}
                     />
                   `;
                })}
              </div>

              <h2 id="missing">
                Missing (${missing.length})
              </h2>

              <div class="snapshots">
                ${missing.map((img, i) => {
                  const getSource = (p) => `results/${IMAGE_DIRS[IMAGE_DIRS.indexOf('original')]}/${p.image}`;
                  const buttons = States.map(state => html`
                    <button
                      class="${`button${
                        state === 'Original' ? ' selected' : ''
                      }${state !== 'Original' ? ' disabled' : ''}`}"
                      type="button"
                    >
                      ${state}
                    </button>
                  `);
                   return html`
                     <${Snapshot}
                     buttons=${buttons}
                     image=${img}
                     index=${i}
                     getSource=${getSource}
                     />
                   `;
                })}
              </div>
            </div>
          `;
        }
      }

      render(
        html`
          <${App} page="All" />
        `,
        document.body
      );
    </script>
  </head>

  <body></body>
</html>
